
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  background: #ccc;
}

.container {position: relative;}

.snap-content {
  background-color: #e9e9e9;
}
.snap-drawer {
	background: #1f1f1f;
	color: #fff;
	width: 300px;
}

.btn {border: none;}

.btn-menu:hover, .btn-menu:focus {background: #0194ca;}
.btn-accueil {
	display: block;
	background: #0194ca;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.33;
    padding: 20px;
	border-bottom: 1px solid #fff;
}
.nav > li > a  {
	text-transform: uppercase; 
	color: #fff;
	padding: 20px 15px;
}

.nav > li > a:hover, .nav > li > a:focus {background: #111;}

.nav a span {font-weight: bold;}
.nav .active a {color: #0194ca;}
.nav li {
	border-bottom: 1px solid #000; 
	border-left: 4px solid #0194ca;
}

.slide {
	padding: 20px;
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}

.nav-slider a {
	display: block;
	padding: 2em 4em;
	cursor: pointer;
	background: #333;
	color: #fff;
	text-decoration: none;
}
.nav-slider a:hover, .nav-slider a:focus {
	color: #fff;
	text-decoration: none;
	background: #999;
}
.nav-slider a.active {
	background: #555;
}