
/* Space out content a bit */
/*Fonts*/

@font-face {
    font-family: 'lato';
    src: url('lato-regular-webfont.eot');
    src: url('lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-regular-webfont.woff') format('woff'),
         url('lato-regular-webfont.ttf') format('truetype'),
         url('lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.eot');
    src: url('lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-light-webfont.woff') format('woff'),
         url('lato-light-webfont.ttf') format('truetype'),
         url('lato-light-webfont.svg#latolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.eot');
    src: url('lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bold-webfont.woff') format('woff'),
         url('lato-bold-webfont.ttf') format('truetype'),
         url('lato-bold-webfont.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;

}


html {
	
}
body {
  padding-bottom: 20px;
  overflow: hidden;
  background: #ccc;
  height: 100vh;
  max-height: 768px;
  font-family: 'lato', Helvetica, arial, sans-serif;
  text-transform: uppercase;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

strong {
	font-family: 'latobold', Helvetica, arial, sans-serif;
}
small {
	font-family: 'latolight', Helvetica, arial, sans-serif;
}

.container {
	position: relative;
}

.main {
	height: 594px;
	position: relative;
	background: url(../images/texture.jpg);
}

.accueil .main {
	height: 270px;
}

.section {
	border-top: 100px solid #0194ca;
	padding-top: 2px;
	height: 594px;
}

.section-title {
	position: absolute;
	padding: 0.8em;
	top: 0;
	left: 0;
	color: #fff;
}

.contenu {
	margin-top: 1em;
	text-transform: none;
}

.wrapper {
	padding: 1em;
}

.snap-content {
  background-color: #e9e9e9;
}
.snap-drawer {
	background: #1f1f1f;
	color: #fff;
	width: 300px;
}

.btn-accueil {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.nav a span {font-weight: bold;}

/*Navigation principale*/

.navigationPrincipale {
	border-top: 83px solid #0194ca;
}
.navigationPrincipale .nav {
	border-top: 2px solid #fff;
}
.navigationPrincipale .nav > li > a  {
	text-transform: uppercase; 
	color: #fff;
	padding: 20px 15px;
}

.navigationPrincipale .nav > li > a:hover, .navigationPrincipale .nav > li > a:focus {
	background: #111;
}

.navigationPrincipale .nav .active a {
	color: #0194ca;
}

.navigationPrincipale .nav li {
	border-bottom: 1px solid #000; 
	border-left: 4px solid #0194ca;
}

.btn-menu {
	position: absolute;
	z-index: 500;
	cursor: pointer;
}

/*header */

.mainheader {
	background: url(../images/header.jpg) top left no-repeat;
	border-bottom: 1px solid #fff;
}

.mainheader h1 {
	min-height: 174px;
	margin: 0;
	padding: 40px 355px 30px 260px;
	background-position: top left;
	background-repeat: no-repeat;
	color: #0194ca;
	line-height: 1em;
}

.mainheader h1 span {
	font-weight: bold;	
}

.clients .mainheader h1 {
	background-image: url(../images/clients/titre.png);
}
.entreprise .mainheader h1 {
	background-image: url(../images/valeurs/titre.png);
}
.outil .mainheader h1 {
	background-image: url(../images/outil/titre.png);
}
.realisations .mainheader h1 {
	background-image: url(../images/valeurs/titre.png);
}
.services .mainheader h1 {
	background-image: url(../images/valeurs/titre.png);
}
.valeurs .mainheader h1 {
	background-image: url(../images/valeurs/titre.png);
}

/*Slider */

.slick-slider {
	margin-bottom: 0;
}

.slick-prev:before,.slick-next:before {
    content: none;
}

.slick-prev {
    left: 10px;
    background-position: 0 0;
}

.slick-next {
    right: 10px;
    background-position: -50px 0;
}

.slick-prev, .slick-next {
	width: 50px;
	height: 50px;
    border: medium none;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    margin-top: -25px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 50%;
	background-image: url(../images/slider-arrows.png);
	background-repeat: no-repeat;
}

.slide {
	padding: 0px;
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}

.nav-slider {
	
	border-top: 2px solid #fff;
}

.nav-slider a {
	position: relative;
	display: block;
	height: 100px;
	padding: 2em 1em;
	background: #999 url(../images/bg-nav-slider.png);
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.nav-slider a .nbre {
	display: block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: -15px;
	left: 30px;
	background-image: url(../images/puce-slider.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav-slider a.active .nbre {
	background-position: 0 -30px;
	text-indent: -60px;
}

.nav-slider a:hover, .nav-slider a:focus {
	color: #fff;
	text-decoration: none;
	background: #2d2a26;
}
.nav-slider a.active {
	background: #ffc72a;
}

/* slider Témoignages*/

.temoignages .slick-slider {
	border-bottom: 50px solid #0194ca;
}

.temoignages .controls a {
	position: absolute;
	bottom: 0;
	color: #fff;
	cursor: pointer;
}
.temoignages .controls .prev {
	left: 0;	
}

.temoignages .controls .next {
	right: 0;
}

.temoignages .slick-slider {
	height: 100%;
}

.temoignages .controls a {
	position: absolute;
	bottom: 0;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-image: url(../images/slider-arrows.png);
	background-repeat: no-repeat;
}

.temoignages .controls .prev {
	background-position: 0 -50px;
}
.temoignages .controls .next {
	background-position: -50px -50px;
}

.temoignages .slick-dots li.slick-active button:before {
    opacity: 1;
}
.temoignages .slick-dots li button:before {
    color: #fff;
}

.temoignages .rating {
	color: #ffcc00;
	font-size: 1.4em;
}

/*page accueil*/

.accueil .main h2 {
	background: #2d2a26;
}

.accueil .temoignages .thumb {
	width: 276px;
	height: 270px;
	position: absolute;
	left: 0;
	z-index: 500;
	border-right: 1px solid #fff;
}

.accueil .temoignages {
	height: 270px;
}
.accueil .temoignages .wrapper {
	margin-left: 276px;
	height: 270px;
}

.accueil .temoignages .controls .prev {
	left: 276px;
	
}
.accueil .temoignages .slick-dots {
	padding-left: 276px;
	left: 0;
}
.accueil .accesDirect a {
	display: block;
	width: 33%;
	height: 500px;
	float: left;
}


/*page clients*/

.img-nav {
	cursor: pointer;
}

.clients .temoignages {
	height: 594px;
}

/*page réalisations*/

.realisations .categoryFilters {
	position: absolute;
	top: 100px;
	right: 200px;
}


.realisations .main {
	overflow: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.gallery {
	width: 150%;
}

.gallery div {
	display: inline;;
}

.realisations .item {
  margin: 5px;
  float: left;
}

.realisations .category {
	width: 300px;
}

.realisations .product {
	width: 145px;
}

.realisations-category .col-sm-2 {width: 20%;}

/* page valeurs */

.valeurs .col-sm-2 {width: 20%;}