<div class="{{page.id}}">
	<header class="mainheader" ng-include="'views/header.html'">
	</header>
	<div class="main">
		<div class="row">
			<div class="col-sm-4">
				<div class="temoignagesClients height">
					<h2>Ce que nos clients disent de nous</h2>
					<div slick ng-transclude settings="slickConfig" control="slickHandle">
						<div ng-repeat="temoignage in temoignages">
							<div class="temoignage">
								<p class="rating">
									{{temoignage.rate}}
								</p>
								<blockquote>
									<strong class="text-primary">{{temoignage.blockquote[0]}}.</strong>
									{{temoignage.blockquote[1]}}.
								</blockquote>
								<p>
									<strong>{{temoignage.entreprise[0]}},</strong><br>
									{{temoignage.entreprise[1]}}
								</p>
							</div>
						</div>
					</div>
					<div class="controls">
						<a ng-click="slickHandle.slickPrev()" class="prev">&nbsp;</a>
						<a ng-click="slickHandle.slickNext()" class="next">&nbsp;</a>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
						<video controls width="853" preload="auto" src="{{mainVideoFile}}" >
						</video>
					</div>
					<div class="col-sm-4" ng-repeat="video in videos">
						<img src="{{video.thumb}}" class="img-nav img-responsive" ng-click="loadvideo(video.file)" />
					</div>
				<div>
			</div>
		</div>
	</div>
</div>