<div class="{{page.id}}">
	<header class="mainheader" ng-include="'views/header.html'">
	</header>
	<div class="main">
		<div class="row">
			<div class="col-sm-4">
				<h2>Témoignages</h2>
				<div class="">
					<div class="rating">
						<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
						<video controls width="853" preload="auto" src="{{mainVideoFile}}" >
						</video>
					</div>
					<div class="col-sm-4" ng-repeat="video in videos">

						<img src="{{video.thumb}}" class="img-responsive" ng-click="loadvideo(video.file)" />
						<h3>{{video.title}}</h3>

					</div>
				<div>
			</div>
		</div>
	</div>
</div>