<div class="{{page.id}}">
	<header class="mainheader" ng-include="'views/header.html'">
	</header>
	<div class="main row">
			<div class="col-sm-4">
				<section class="temoignages section">
					<h2 class="section-title">Ce que nos clients disent de nous</h2>
					<div slick ng-transclude settings="slickConfig" control="slickHandle">
						<div ng-repeat="temoignage in page.temoignages">
							<div class="wrapper" >
								<rating class="rating" ng-model="temoignage.rate" readonly="true"></rating>
								
								<blockquote>
                                    {{temoignage.blockquote[0]}} <strong class="text-primary">{{temoignage.blockquote[1]}}.</strong>
                                </blockquote>
								<p>
									<strong>{{temoignage.entreprise[0]}},</strong><br>
									{{temoignage.entreprise[1]}}
								</p>
							</div>
						</div>
					</div>
					<div class="controls">
						<a ng-click="slickHandle.slickPrev()" class="prev">&nbsp;</a>
						<a ng-click="slickHandle.slickNext()" class="next">&nbsp;</a>
					</div>
				</section>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12 videos">
						<video width="100%" height="100%" controls="controls" poster="images/thumb-video-menu.jpg" autoplay="true" src="{{mainVideoFile}}">
                		</video>
					</div>
					<div class="col-sm-{{12 / page.videos.length | number:0}} nav-videos" ng-repeat="video in page.videos">
						<img src="{{video.thumb}}" class="img-responsive" ng-click="loadvideo(video.file)" />
					</div>
				</div>
			</div>
	</div>
</div>