<div class="{{accueil.id}}">
    <header class="mainheader">
        <h1 class="hide">{{page.accueil.title}}</h1>
        <div slick ng-transclude settings="slickConfig" control="slickHandle">
            <div>
                <div class="slide" style="background-image : url({{accueil.slides[0]}});"></div>
            </div>
            <div>
                <div class="slide" style="background-image : url({{accueil.slides[1]}});">
                <div class="accesDirect">
                    <a href="#/entreprise">&nbsp;</a>
                    <a href="#/entreprise">&nbsp;</a>
                    <a href="#/valeurs">&nbsp;</a>
                </div>
            </div>
            </div>
            
        </div>
    </header>

    <div class="main row">
            <h2 class="col-sm-1">
                <img src="images/accueil/titre-temoignages.png" alt="temoignages">
            </h2>
            <div class="col-sm-6 temoignages">                
                <!-- <div class=""> -->
                    <div slick ng-transclude settings="slickConfigtemoignage" control="slickHandle">
                        <div ng-repeat="temoignage in pages.clients.temoignages | limitTo: 3">
                            <div class="thumb">
                                <img src="{{temoignage.thumb}}" alt="{{temoignage.entreprise}}" class="img-responsive" />
                            </div>

                            <div class="wrapper">
                                <rating class="rating" ng-model="temoignage.rate" readonly="true"></rating>
                                <blockquote>
                                    {{temoignage.blockquote[0]}} <strong class="text-primary">{{temoignage.blockquote[1]}}.</strong>
                                </blockquote>
                                <p>
                                    <strong>{{temoignage.entreprise[0]}},</strong><br>
                                    {{temoignage.entreprise[1]}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="controls">
                        <a ng-click="slickHandle.slickPrev()" class="prev">&nbsp;</span></a>
                        <a ng-click="slickHandle.slickNext()" class="next">&nbsp;</span></a>
                    </div>
                <!-- </div> -->            
            </div>
            <h2 class="col-sm-1">
                <img src="images/accueil/titre-videos.png" alt="vidéos">
            </h2>
            <div class="col-sm-4">
                <video width="100%" height="100%" controls="controls" poster="images/thumb-video-accueil.jpg" src="videos/corporate.mp4" type="video/mp4">
                </video>
            </div>
    </div>
</div>
