<a href="#/" class="btn-accueil">&nbsp;</a>
<ul class="nav" track-active snap-close>
	<li><a href="#/entreprise" >Notre <span>entreprise</span></a></li>
	<li><a href="#/valeurs">Nos <span>valeurs</span></a></li>
	<li><a href="#/outil-industriel-performant">Un outil industriel <span>performant</span></a></li>
	<li><a href="#/pourquoi-nous-choisir">Pourquoi <span>nous choisir ?</span></a></li>
	<li><a href="#/clients">Nos <span>clients</span></a></li>
	<li><a href="#/realisations">Nos <span>realisations</span></a></li>
</ul>