<div class="{{page.id}}">
	<header class="mainheader" ng-include="'views/header.html'">
	</header>
	<div class="main" role="main">
		<div class="row">
			<div class="col-sm-4">
				<section class="section">
					<h2 class="section-title">{{page.soustitre[0]}} <strong>{{page.soustitre[1]}}</strong></h2>
					<ul class="contenu">
						<li ng-repeat="item in page.liste1">{{item}}</li>
					</ul>
					<h3>Les Hommes :</h3>
					<ul class="contenu">
						<li ng-repeat="item in page.liste2">{{item}}</li>
					</ul>
				</section>
			</div>
			<div class="col-sm-8">
				<section class="section">
					<h2 class="section-title">l'outil <strong>en image<strong></h2>
					<video src="{{page.video}}" controls preload="auto" width="100%">
					</video>
				</section>
			</div>
		</div>
	</div>
</div>