<div class="realisations-category category-{{category.id}}" ng-repeat="category in realisations | filter:{id:catid}">
	<header class="mainheader" role="banner">
		<h1>
			<small class="text-primary">Nos réalisations</small><br>
			<strong>{{category.order + 1}} - {{category.name}}</strong>
		</h1>
		<a href="/" class="btn-accueil"><img src="../images/close.jpg" height="174" width="176" alt="retour à l'accueil"></a>
	</header>
	<div class="main" role="main">
			<div class="row">
				<div class="col-md-6">
					<p class="contenu">{{category.description}}</p>
					<p>{{url}}</p>
				</div>
				<div class="col-md-6">
					<img src="{{category.thumb}}" alt="" class="img-reponsive" />
				</div>
			</div>
		<div class="nav-slider">
			<div class="row">
				<div class=" col-sm-{{12 / realisations.length | number:0}}" ng-repeat="category in realisations track by $index | orderBy: 'order'">
					<a ng-class="{active: isActiveCategory(category)}" ng-click="clickCategory(category)">
						<strong>{{category.name}}</strong>
						<span class="nbre">{{category.order + 1}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>