<div class="{{page.id}}">
	<header class="mainheader" ng-include="'views/header.html'">

	</header>
	<div class="categoryFilters">
		<select ng-model="query" ng-options="value.id as value.name for value in realisations">
			<option value="">toutes les réalisations</option>
		</select>
		<div class="btn-group" opt-kind ok-key="filter">
			<button type='button' class='btn btn-default active' ok-sel="*">Show All</button>
              <button ng-repeat="category in realisations" type='button' class='btn btn-default' ok-sel=".{{category.id}}">{{category.name}}</button>
          </div>
	</div>
	<div class="main" role="main">

		<div id="isotopeContainer" isotope-container ng-cloak class="ng-cloak">
			<div ng-repeat="category in realisations" isotope-item class="category {{category.id}}">
			 	<a class="thumbnail" href="#/realisations/{{category.id}}">
					<h2>{{category.name}}</h2>
					<img ng-src="{{category.thumb}}" class="img-responsive">
				</a>	
			</div>
			<div ng-repeat="category in realisations">
				<div ng-repeat="item in category.items" isotope-item class="item {{category.id}}">
					<a class="thumbnail" href="#/realisations/{{category.id}}/{{item.id}}">
						<h2>{{item.name}}</h2>
						<img ng-src="{{item.thumb}}" class="img-responsive">
					</a>
				</div>
			</div>			
		</div>
	</div>
</div>