<div class="{{page.id}}">
	<header class="mainheader" ng-include="'views/header.html'">
	</header>
	<div class="main" role="main">
		<div slick ng-transclude settings="slickConfig" control="slickHandle">
			<div ng-repeat="slide in page.slides track by $index | orderBy: 'order'" data-id="{{slide.id}}">
				<div class="slide" ng-click="islideActive()" style="background-image: url({{slide.image}});">
					<div ng-if="slide.id == 'services-2'" class="videos-conseil" ng-click="islideActive()"> 
						<h4>Nos Vidéos</h4>
						<a ng-repeat="video in slide.videos" class="btn btn-primary btn-lg btn-block" ng-click="clickToOpen(video.url)">{{video.title}}</a>
					</div>
				</div>
				
			</div>
		</div>
		<div class="nav-slider">
			<div class="row">
				<div class=" col-md-{{12 / page.slides.length | number:0}}" ng-repeat="slide in page.slides track by $index | orderBy: 'order'">
					<a ng-click="slickHandle.slickGoTo($index)" ng-class="{active: islideActive(slide)}" data="{{active}}">{{slide.title[0]}} <strong>{{slide.title[1]}}</strong>
						<span class="nbre">{{slide.order + 1}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>